

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


:root{
    --background: rgba(41, 6, 237, 0.415);
    --background2: black;
    --background3: blue;

    --primary: yellow;
    --secondary: rgb(237, 13, 237);
    --escritura: white;


    --letra: blue;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One';
    text-decoration:none;
    list-style-type: none;
}



header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    top: 0;
    z-index: 2;
    height: 65px;
    position: sticky;
    background-color: var(--escritura);
    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

#logoPagina{
    width: 100px;
}
.logo{
    width: 30px;
}

.navBar,
.navBar-list{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 60px;
    
}

.navBar{
    width: 100%;
    
}

.navBar-list{
    gap: 20px;
}
.letra{
    
    color: var(--letra);
}

.navBar img{
    width: 30px;
    
}

#menu-toggle{
    display: none;
}
.menu-label{
    display: none;
}

.menu-icon{
    width: 150px;
}

main{
    margin-top: 10px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--background2);
}

#hero{
    
    display: flex;
    justify-content: space-around;
    background-color: var(--background);
    border-radius: 15px;
    width: 100%;
    
}

.hero-card{
    max-width: 80%;
}
.hero-card img{
    width: 500px;
    padding-right: 45px;
    margin-right: 10px;
    margin: 10px;
}
.hero-info{
    padding: 45px;
    display: flex;
    flex-direction: column;
    

    text-align: center;
    font-family: 'Concert One';
    color:var(--escritura);
}

.hero-info h1{
    font-family: 'Concert One';
}

.hero-info p{
    padding-top: 30px;
    font-family: 'Concert One';
        
}
.hero-card-botton{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    
}


.hero-card-tablero img:nth-of-type(3){
    margin-top: 63px;
}
.hero-card-tablero img:nth-of-type(2){
    margin-top: 63px;
}
.juego{
    width: 80px;
}

#select{
    width: 90px;
    padding-bottom: 10px;
    height: 54px;
}

.boton{
    width: 30px;
    height: 25px;
}
#consolas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 40px 20px;
    width: 100%;
}

#consolas h3{
    font-size: 75px;
    font-family: 'Concert one';
}
#consolas p{
    font-size: 25px;
}

.carts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--second-color);
    padding: 40px;
    width: 100%;
    background-color: var(--background2);
    flex-wrap: wrap;
}

.actuales{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: var(--background);
}
.actuales label:nth-of-type(1){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.actuales label:nth-of-type(2){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.viejas{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: var(--background);
        
    
}

.viejas label:nth-of-type(1){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.viejas label:nth-of-type(2){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.biblioteca-juegos{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: var(--background);
    

}

.biblioteca-juegos label:nth-of-type(1){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.biblioteca-juegos label:nth-of-type(2){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.accesorios{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: var(--background);
    

}

.accesorios label:nth-of-type(1){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.accesorios label:nth-of-type(2){
    font-family: 'Concert One';
    font-size: 50px;
    color: var(--escritura);
}

.imagenes{
    width: 260px;
    height: 200px;
}

#destacados{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    width: 100%;
    
}
#destacados h1{
    font-family: 'Concert One';
    font-size: 75px;
}
#destacados p{
    
    font-size: 25px;
}

.productos-destacado-tama単o{
    width: 200px;
    height: 200px;
}
.consola-principal{
    height: 400x;
    width: 400px;
}

.Producto-destacado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.play{
   
    
    display: grid;
    place-content: center;
    grid-template-columns: repeat(6,200px);
    grid-template-rows: repeat(6,200px);
    border-radius: 10px;
    gap: 5px;
    width: 100%;
    
    background-color: var(--background2);
}
.play h2{
    color: var(--escritura);
    text-align: center;
    display: none;
}
/*play*/
.play:nth-child(2){
    
    grid-column: 1/3;
    grid-row: 1/3;
 
    

}


/*#ps{

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}*/

@keyframes scaleUp {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(2);
    }
  }
.play :nth-child(3){
    
    grid-column: 3/4;
    grid-row: 1/2;
}
.play :nth-child(4){
    
    grid-column: 3/4;
    grid-row: 2/3;
}
.play :nth-child(5){

    grid-column: 3/4;
    grid-row: 3/4;
}
.play :nth-child(6){
    
    grid-column: 2/3;
    grid-row: 3/4;
}

.play :nth-child(7){
    grid-column: 1/2;
    grid-row: 3/4;
}
/*nintendo*/
.play :nth-child(9){
    grid-column: 5/7;
    grid-row: 1/3;
}
.play :nth-child(10){
    grid-column: 4/5;
    grid-row: 1/2;
}
.play :nth-child(11){
    grid-column: 4/5;
    grid-row: 2/3;
}
.play :nth-child(12){
    grid-column: 4/5;
    grid-row: 3/4;
}

.play :nth-child(13){
    grid-column: 5/6;
    grid-row: 3/4;
}
.play :nth-child(14){
    grid-column: 6/7;
    grid-row: 3/4;
}
/*xbox*/
.play :nth-child(16){
    grid-column: 1/3;
    grid-row: 5/7;
}
.play :nth-child(17){
    grid-column: 1/2;
    grid-row: 4/5;
}
.play :nth-child(18){
    grid-column: 2/3;
    grid-row: 4/5;
}
.play :nth-child(19){
    grid-column: 3/4;
    grid-row: 4/5;
}

.play :nth-child(20){
    grid-column: 3/4;
    grid-row: 5/6;
}

.play :nth-child(21){
    grid-column: 3/4;
    grid-row: 6/7;
}
/*sega*/
.play :nth-child(23){
    grid-column: 5/7;
    grid-row: 5/7;
}
.play :nth-child(24){
    grid-column: 6/7;
    grid-row: 4/5;
}
.play :nth-child(25){
    grid-column: 5/6;
    grid-row: 4/5;
}
.play :nth-child(26){
    grid-column: 4/5;
    grid-row: 4/5;
}
.play :nth-child(27){
    grid-column: 4/5;
    grid-row: 5/6;
}
.play :nth-child(28){
    grid-column: 4/5;
    grid-row: 6/7;
}

#ps{
    height: 400px;
    width: 400px;
}
#nin{
    height: 400px;

    width: 400px;
}
#sg{
    height: 400px;
    width: 400px;
}

#contacto{
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;    

    
    background-color: var(--background2);
}
.contacto-titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
    color: var(--escritura);
    
}
.contacto-info{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--background);
    color: var(--escritura);
    
}
.contacto-info-direccion{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
}
/*.contacto-info-due単o{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}*/
#mapa{
    width: 300px;
    height: 275px;
}
footer{
    text-align: center;
}

/*FORMULARIO DE REGISTRO*/

.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    background-color: var(--background2);
}

.datos-pv{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 50px 75px;
    background-color: var(--background3);
    width: 100%;
}

#titulo{
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#datos-personales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    background-color: var(--background3);
    width: 100%;
}
#datos-player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    background-color: var(--background3);
    width: 100%;
}
.botones{
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    
}
.botones :first-child{
    width: 100px;
    height: 60px;
}


/*------------------LOGIN*---------------------*/

#LOGIN{
    background-color: var(--escritura);
    margin-top: 25px;
    
    text-align: center;
}
#LOGIN h1{
    font-size: 50px;
}

.login-area{
    margin-top: 25px;    
    display: flex;
    flex-direction: column;
    background-color: var(--background2);
}

.login-datos{
    padding: 30px;
    margin: 100px 400px;
    background-color: var(--background3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.login-boton{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.login-boton-tam{
    width: 70px;
    height: 40px;
}



@media  (max-width: 992px){

    
    .navBar-list{
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--background);
        border: 2px solid var(--primary);
        border-top: 0;
        border-radius: 0 0 15px 15px;
        border-color: var(--escritura);
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }
    .letra{
        color: var(--escritura);
    }

    #menu-toggle:checked+.navBar-list {
        display: flex;
    }
    
    .menu-label{
        display: flex;
    }

    #hero{
        display: flex;
        flex-direction: column;
    }
    #card-image{
        display: none;
    }
    
    #consolas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .carts{
        display: flex;
        gap: 50px;
    }
    #destacados{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 15px;
    }
    .play{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        
    }
    .productos-destacado-tama単o{
        width: 400px;
        height: 400px;
    }

    #contacto{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        width: 100%;
       
    }
    

    .contacto-titulo{
        width: 100%;
    }

    .contacto-info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    #mapa{
        width: 275px;
        height: 275px;
    }

    .datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        width: 100%;
        background-color: var(--background2);
    }
}   



@media (max-width: 576px){
        
    
    
    main{
        
    }
    .navbar-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--background);
        border: 2px solid var(--primary);
        border-top: 0;
        border-radius: 0 0 15px 15px;
        border-color: var(--escritura);
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        
        display: none;
        }
        .hero-card{
            display: none;
        }
        #menu-toggle:checked+.navBar-list {
            display: flex;
        }
        .letra{
            color: var(--escritura);
        }
        .menu-label{
            display: flex;
        }
        #hero{
    
            display: flex;
            justify-content: space-around;
            background-color: var(--background);
            border-radius: 15px;
            text-align: center;
            width: 100%;
            
        }
        

        #consolas{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            padding: 40px;
            width: 100%;
            gap: 20px;
        }

        .carts{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: var(--second-color);
            padding: 40px;
            width: 100%;
            background-color: var(--background2);
            flex-wrap: wrap;
            gap: 20px;
        }
        

        #destacados{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            padding: 40px;
            width: 100%;
            gap: 20px;
            
        }

        .Producto-destacado{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .play{
            display: flex;
            flex-direction: column;
            gap: 10px;
            
        }
        .play h2{
            display: flex;
            text-align: center;
            justify-content: center;
          
        }
        .productos-destacado-tama単o{
            width: 400px;
            height: 400px;
        }
        #contacto{
            display: flex;
            flex-direction: column;
            
            justify-content: center;
            align-items: center;
            width: 100%;
           
        }
        

        .contacto-titulo{
            width: 100%;
        }

        .contacto-info{
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
        }
        #mapa{
            width: 275px;
            height: 275px;
        }

        .datos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
            width: 100%;
            background-color: var(--background2);
        }
        


        #datos-personales{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            gap: 20px;
            background-color: var(--background3);
            
        }
        #datos-player{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            gap: 20px;
            background-color: var(--background3);
            
        }
        .datos-pv{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;
            padding: 50px 75px;
            background-color: var(--background3);
            
            
        }
       
}
